$footer-height: 30px;
$color-dark-grey: rgb(64, 65, 66);
$color-middle-grey: rgb(175, 186, 204);
$color-light-grey: rgb(217, 218, 219);
#map {
    height: 500px;
    width: auto;
}

nav {
    border-bottom: 4px solid $color-middle-grey;
    height: auto;
    position: relative;

    #form-address {
        position: relative;
        form {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
        }
    }
}
footer {
    height: $footer-height;
    background: $color-dark-grey;
    color: $color-light-grey;
    text-align: right;
    p {
        margin: auto;
       line-height: $footer-height;
    }
}