#map {
  height: 500px;
  width: auto; }

nav {
  border-bottom: 4px solid #afbacc;
  height: auto;
  position: relative; }
  nav #form-address {
    position: relative; }
    nav #form-address form {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 80%; }

footer {
  height: 30px;
  background: #404142;
  color: #d9dadb;
  text-align: right; }
  footer p {
    margin: auto;
    line-height: 30px; }
